* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
  }
  
  body {
    background-color: #84CC16;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5rem;
  }
  
  #totalExpense {
    font-size: 3rem;
  }
  
  #btn {
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(66, 10, 10);
    color: white;
    font-weight: 700;
    padding: 10px;
  }
  
  .input label {
    font-size: small;
    font-weight: 700;
  }
  
  .input {
    margin: 20px 0px;
  }
  
  #expenseCard {
    min-width: 70%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(66, 10, 10);
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
  }
  
  #expenseItem {
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }